%div.video
  .box
    video antani la maiala di toma
  .clear  
    
  %iframe.big_video{ src: "http://www.youtube.com/embed/JNqpPwRqSGc"  }
  .box_dx
    %p sddadad ciod cido maiala mamm t
    %p sddadad ciod cido maiala mamm t
    %p sddadad ciod cido maiala mamm t
    %p sddadad ciod cido maiala mamm t
    %p sddadad ciod cido maiala mamm t
    %p sddadad ciod cido maiala mamm t
  .clear
  
  .videos
  
    .video_box
      .title video antani la ma
      %iframe{ src: "http://www.youtube.com/embed/JNqpPwRqSGc"  }
    .video_box
      .title video antani la ma
      %iframe{ src: "http://www.youtube.com/embed/JNqpPwRqSGc"  }  
    .video_box
      .title video antani la ma
      %iframe{ src: "http://www.youtube.com/embed/JNqpPwRqSGc"  }
    .video_box
      .title video antani la ma
      %iframe{ src: "http://www.youtube.com/embed/JNqpPwRqSGc"  }
    .video_box
      .title video antani la ma
      %iframe{ src: "http://www.youtube.com/embed/JNqpPwRqSGc"  }
    .video_box
      .title video antani la ma
      %iframe{ src: "http://www.youtube.com/embed/JNqpPwRqSGc"  }

